.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.cards {
  display: flex;
  width: 1024px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  background: #f5f5f5;
  flex-grow: 0;
  flex-basis: 30%;
  max-width: 30%;
  margin-bottom: 30px;
}

.card__img {
  width: 100%;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px 10px;
}


.item {
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.list {
  width: 1024px;
  margin: 0 auto;
}

.item__img {
  height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
